/* css styles */
td {
    width: 60px;
    height: 45px;
    position: relative;
    text-align: center;
    vertical-align: center;
    border: 3px solid black;

}
table {
    border-radius: 5px;
    overflow: hidden;
}
.material-icons {
    position: absolute;
    align-items:center;
    left: 5%;
}
